.sent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.msg-text {
  margin: 1em 1em;
}

.recieved {
  display: flex;
  align-items: center;
}

.sendMsg {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.icon-img {
  height: 2em;
  border-radius: 50%;

}